
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%; /* Ajusta la altura para que cubra toda la pantalla */
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0;
}

/* Estilo para todos los campos de entrada con autocomplete activado */
input[autocomplete] {
    border-radius: 50px; /* Ajusta el valor según tus preferencias para redondear los bordes */
    padding: 8px; /* Ajusta el valor según tus preferencias para el espacio interno del campo de entrada */
  }
  

/* body {
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -1px 90px;
    width: 100%;
    height: 40rem;
} */

.body-lista{
    /* background-image: url(../img/palabradelanio.jpeg); */
    /* background-size:auto;
    background-repeat: repeat; */
    font-size: 12px;
    /* background-color: #000; */
}

.navegacion,
.navbar{
    background-color: #F3EEE8;
}

nav{
    font-size: 1rem;
}

.navegacion{
    padding: 1rem 0;
}

.arimg{
    width: 150px;
    margin-bottom: 5px;
}

.navbar-toggler {
    order: -1; /* Coloca el botón de la barra de navegación al final del contenedor */
}

.home{
    color: #000;
}

.dark .home{
    color: #fff;
}

.home,
.dashboard,
.test-menu,
#reportesDrop{
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.home:hover,
.dashboard:hover,
.test-menu:hover,
#reportesDrop:hover{
    background-color: black;
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
}

.dark .home:hover,
.dark .dashboard:hover,
.test-menu:hover,
.dark #reportesDrop:hover{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.dark a #test-menu{
    color: #fff;
}

@media (max-width: 993px) {
    /* Estilo específico para cuando la barra de navegación está colapsada */
    .navbar img.arimg {
      display: block;
      position: relative;
      margin: auto;
      right: 2rem;
    }

    .imgar{
        left: 0%;
    }
}

.encabezado{
    color: black;
}

.dark .encabezado{
    color: #363636;
}

/* .circulo{
    position: absolute;
    border-radius: 50%;
    background: #3498db;
    animation: ripple 5s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
    width: 100px;
    height: 100px;
    left: 64%;
    bottom: 35%;
}

.medium{
    width: 200px;
    height: 200px;
    left: 61%;
    bottom: 28%;
}


.large{
    width: 300px;
    height: 300px;
    left: 57.9%;
    bottom: 21%;
}


.xlarge{
    width: 400px;
    height: 400px;
    left: 54.7%;
    bottom: 14%;
}

.xxlarge{
    width: 500px;
    height: 500px;
    left: 51.3%;
    bottom: 7.5%;
}

.sombra1 {
    opacity: 0.2;
}
.sombra2 {
    opacity: 0.5;
}
.sombra3 {
    opacity: 0.7;
}
.sombra4 {
    opacity: 0.8;
}
.sombra5 {
    opacity: 0.9;
}

@keyframes ripple {
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.8);
    }
} */

.fondo{
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
    animation: slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #F3EEE8 50%, #21252a1b -50%);
}

.dark .fondo{
    background-image: linear-gradient(-60deg, #3b3a39 50%, #21252a1b -50%);
}

.fondo2{
    animation-direction: alternate-reverse;
    animation-duration: 15s;
}

.fondo3{
    animation-duration: 17s;
}

@keyframes slide {
    0%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateX(25%);
    }
}



.table-bordered-all {
    border: 1px solid #000; /* Cambia el color y grosor del borde según tus preferencias */
  }
  .table-bordered-all th, .table-bordered-all td {
    border: 1px solid #000; /* Cambia el color y grosor del borde según tus preferencias */
}

@media print {
    .no-print, .no-print *{
        display: none !important;
    }
}

.card{
    height: 75vh;
    width: 70rem;
    padding: 2rem;
    margin-top: 2rem;
    /* background: linear-gradient(to top left,#9DB8FF,#9DB8FF,#535b99,#4f0f56,#1c245e, #21252A, #21252A); */
    background: linear-gradient(to bottom right,#F3EEE8,#F3EEE8,#21252a1b);

    background-size: 200% 200%;

    animation: movimiento 5s linear infinite alternate;

    border-radius: 10px;
    box-shadow: 5px 5px 50px -20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card1{
    position: relative;
    height: 70vh;
    width: 90vw;
    padding: 2rem;
    /* background: linear-gradient(to top left,#9DB8FF,#9DB8FF,#535b99,#4f0f56,#1c245e, #21252A, #21252A); */
    background: linear-gradient(to bottom right,#F3EEE8,#F3EEE8,#21252a21, #363d4440,#904e953b, #e9644327);

    background-size: 200% 200%;

    animation: movimiento 5s linear infinite alternate;

    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cuerpo-listado{
    background-color: white;
}

.cuerpo-listado td p{
    color: #424a52;
}

@keyframes movimiento {
    from {
        background-position: 0.0;
    }to{
        background-position: 100% 100%;
    }
}


@media (max-width: 1281px){
    .card{
        width: 80%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 1100px){
    .card{
        width: 80%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.botones button{
    width: 45%;
}


input,
textarea,
select{
    height: 3rem;
}

.dark textarea,
.dark input,
.dark select{
    background-color: #21252a;
    color: #fff;
    font-weight:bold;
}

.dark textarea::placeholder,
.dark input::placeholder,
.dark select::placeholder{
    color: #fff;
    font-weight:200;
}

input:-webkit-autofill {
    border-radius: 30%; 
    background-color: #fff;
  }
  
  
  input:-moz-autofill {
    border-radius: 5px;
  }

textarea{
    resize: none;
}


label,
h3{
    font-size: 20px;
}

.input-invalid{
    border: 2px solid red;
    box-shadow: 1px 1px 5px -8px;
}

.usuario{
    background-color: #000;
    border-radius: 10px;
    bottom: 2rem;
    font-weight: 400;
}

.dark .usuario{
    border: 1px solid #fff;
}

.icono{
    padding: 8px 0; 
    background-color: #fff;
}

.icono p{
    font-size: 10px;
    margin-left: 0.5rem;
    font-weight: 300;
}

.icono.fixed-top.vista{
    margin-top: 0rem;
}

.navegacion.fixed-top.vista{
    margin-top: 1.9rem;
}

.vistas{
    margin: 7rem 0.5rem
}


.rep{
    font-size: 1.8rem;
    color: #524d4d ;
     font-family: monospace;
      text-align: end;
}

#filtroCampus,
#filtroFecha{
    border-radius: 10px;
    border: 2px solid #234E52;
    padding: 0.5rem;
}



.dark .accordion-edit{
    background-color: #000;
    color: #fff;
}

@media (max-width: 1087px) {
    .formulario-vistas{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        left: 5%;
    }
    .filtrar{
        margin:2rem 0;
        position: relative;
        width: 98%;
        left: 1%;
    }
    .borrar{
        position: relative;
        width: 98%;
    }
    .filtrar-por-campus{
        margin: 5px 0;
    }
    label .filtrar-por-campus{
       
    }
}

@media (max-width:570px) {
    #filtroFecha{
        width: 95%;
    }
}

.dark .reportes{
    color: #fff;
}

.dark .nav-link.dropdown-toggle{
    color: white;
}

.dark-light-mode_button {
    position: fixed;
    display: flex;
    width: 3rem;
    align-items: center;
    padding: 2rem 2.5rem;
    top: 7.4rem;
    border-radius: 0 3rem 3rem 0;
    background: linear-gradient(to bottom right,#21252a30, #363d4438,#904e953b, #e9644327);
    transition: padding 300ms ease-in-out;
}

.dark-light-mode_button:hover {
    cursor: pointer;
    padding: 2rem 4rem;
}

.switch-register{
    top: 5.5rem;
    background-color: #4D84E2;
}

.switch-register .fa-moon{
    color: #fff;
}

.button__shadow{
    position: relative;
    display: flex;
    align-items: center;

}

.fa-moon,
.fa-sun {
    position: absolute;
    left: -1.5rem;
    font-size: 3rem;
    color: var(--color-background);
    transition: color 300ms ease-in-out; /* Aplicar transición a la propiedad color */
}

.fa-moon{
    color: var(--color-text);
}

.fa-moon:hover {
    color: var(--color-title);
}

.fa-sun:hover {
    color: gold;
}

@media (max-width: 991.9px) {
    .dark-light-mode_button {
        padding: 2rem 3rem; /* Ajusta el padding para invertir el botón */
        flex-direction: row-reverse; /* Invierte la dirección de la fila */
        border-radius: 3rem 0 0 3rem; /* Ajusta el border-radius según sea necesario */
        left: 90%;
        top: 2.7rem;
    }
    .dark-light-mode_button:hover {
        cursor: pointer;
        padding: 2rem 3rem; /* Ajusta el padding para invertir el botón */
    }

    .dark.dark-light-mode_button{
        padding: 2rem 3rem;
    }

    .switch-register{
        top: .7rem;
    }
}

@media (max-width: 850px){
    .dark-light-mode_button {
        left: 88%;
    }
}

@media (max-width: 750px){
    .dark-light-mode_button {
        left: 87%;
    }
}

@media (max-width: 650px){
    .dark-light-mode_button {
        left: 85%;
    }
}

@media (max-width: 550px){
    .dark-light-mode_button {
        left: 83%;
    }
}

@media (max-width: 450px){
    .dark-light-mode_button {
        left: 80%;
    }
}



.dark{
    background-color: black;
}



.dark .fa-sun{
    color: #F3EEE8;
}

.dark .fa-sun:hover{
    color: gold;
}


.dark .background-card{
    background-color: #00000062;
}

.dark .icono{
    background-color: #21252a;
    color: #FFFF;
}

.dark .navbar,
.dark .navegacion{
    background-color: #000;
}

.dark .arimg {
    filter: invert(100%); /* Invierte todos los colores al 100% */
    margin-bottom: 7px;
  }

  .dark .home,
  .dark .dashboard,
  .dark .reportes,
  .dark .disabled{
      color: #FFFF;
  }

.dark .nav-link .active{
    color: white;
}

.dark .dark-light-mode_button {
    background: linear-gradient(to bottom right,#21252a, #363d44,#904e9543, #e9644375); 
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a
.dark p{
    color:#FFFF;
}

.dark button{
    color: #FFFF;
}


.btn-close{
    border: 1px solid black;
}

.dark .card{
    background: linear-gradient(to bottom right,#21252a, #363d44, #e964439d); 

    background-size: 200% 200%;


    animation: movimiento 5s infinite alternate;
}

.dark .rep{
    color: black;
}

.dark h2#swal2-title.swal2-title{
    color: #1b1b1b;
}

@keyframes movimiento {
    from{
        background-position: 0.0;
    }to{
        background-position: 100%;
    }
}

@media (max-width:570px) {
    .arimg{
        max-width: 10rem;
    }

    .rep{
        font-size: 1rem;
    }
}

.dark strong{
    color: #FFFF;
}

.dark .botonD{
    background-color: #FFFF;
}

.dark .ar{
    color:#FFFF;
}

.dark label{
    color: #FFFF;
}



.dark .navbar-toggler{
    background-color: #FFFF;
}

.dark .barragenera{
    background-color: #21252a;
}


.oculto{
    visibility: hidden;
}

.dark .encabezado-listado{
    background-color: #21252a;
    color: #F3EEE8;
}

.dark .cuerpo-listado{
    background-color: #363d44;
    color:#F3EEE8;
}

.dark .cuerpo-listado td p{
    color: #F3EEE8;
}

.dark .card1{
    background: linear-gradient(to bottom right,#444242,#575450,#505152d0, #ad877e75, #e98a7275);
    color: #F3EEE8;
}

.dark .encabezado{
    color: #363636;
}

.dark .text-dark{
    color: #F3EEE8;
}

.dark .switch-register{
    background: linear-gradient(to bottom right,#21252a, #363d44,#904e9543, #e9644375); 
}

.dark .switch-register.fa-sun{
    color: #fff;
}

.dark .btn-enviar,


.dark .dropdown-menu{
    background-color: #333;
    color: #21252a;
}

.dark .dropdown-item{
    color: #fff;
}

.dark .dropdown-item:hover{
    color: #21252a;
}


/*LOGIN Y REGISTER*/
.container-1{
    position: relative;
    width: 100%;
    height:93vh;
    max-height: 100vh;
    background-color: #FFFF;
    overflow: hidden;
    margin-top: 4rem;
}

.container-1:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #e28d77fa, #fca28c);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-singup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .7s ease-in-out;

}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

.form.sign-in-form{
    z-index: 2;
}

.form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
    font-weight: 600;
}

.input{
    height: 55px;

    border: 1px solid #000;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #cacaca;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.boton{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    background-color: #5995fd;
    cursor: pointer;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.3s all ease-in-out;
}

.boton:hover{
    background-color: #4d84e2;
    color: #FFF;
}

.dark .boton{
    background: #363d44; 
}

.dark .boton:hover{
    background-color: #4d84e2;
    color: #FFF;
}


.social-text{
    padding: .7rem 0;
    font-size: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icon:hover{
    color: #4481eb;
    border-color: #4481eb;
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.boton.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.image{
    width: 80%;
    transition: 1.1s .6s ease-in-out;
}

.right-panel .content, 
.right-panel .image{
    transform: translateX(800px);
}






.container-1.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}


.container-1.sign-up-mode .left-panel .image,
.container-1.sign-up-mode .left-panel .content{
    transform: translateX(-800px)
}

.container-1.sign-up-mode .right-panel .content, 
.container-1.sign-up-mode .right-panel .image{
    transform: translateX(0px);
}

.container-1.sign-up-mode .panels-container .right-panel{
    pointer-events: all;
}

.container-1.sign-up-mode .panels-container .left-panel{
    pointer-events: none;
}

.container-1.sign-up-mode .signin-singup{
    left: 25%;
}


.container-1.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container-1.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}



@media (max-width: 870px) {
    .container-1{
        min-height: 800px;
        height: 100vh;
    }

    .container-1:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;

    }

    .signin-singup{
        width: 100%;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .panels-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .panel .content{
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out ;
    }

    .panel h3{
        font-size: 1.2rem;
    }

    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .boton.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .image{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out ;
    }

    .left-panel{
        grid-row: 1 / 2;
    }

    .right-panel{
        grid-row: 3 / 4;
    }

    .right-panel .content,
    .right-panel .image{
        transform: translateY(300px);
    }

    .container-1.sign-up-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container-1.sign-up-mode .left-panel .image,
    .container-1.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }

    .container-1.sign-up-mode .signin-singup{
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}

@media (max-width: 570px) {
    .form{
        padding: 0 1.5rem;
    }

    .image{
        display: none;
    }

    .panel .content{
        padding: 0.5rem 1rem;
    }

    .container-1:before{
        bottom: 72%;
        left: 50%;
    }

    .container-1.sign-up-mode:before{
        bottom: 28%;
        left: 50%;
    }
}

.dark .container-1{
    background-color: #1b1b1b;
}

.dark .container-1:before{
    background: linear-gradient(-45deg, #363636, #535353);
}

.dark .social-icon,
.dark .social-text,
.dark .social-media{
    color: #fff;
}

.bg-counter{
    background: url(../img/fondoCounter.jpeg);
}


.counter-main {
    display: grid;
    place-items: center;
    min-height: 70vh;
    margin: auto;
}

.circle {
    position: relative;
    width: 630px; /* Ajusta el tamaño del círculo según tus necesidades */
    height: 630px; /* Ajusta el tamaño del círculo según tus necesidades */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 30s linear infinite;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 2em; /* Ajusta el tamaño de la fuente según tus necesidades */
    font-weight: 800;
    transform-origin: 0 315px; /* Ajusta la distancia del eje de rotación según tus necesidades */
}

.circle h1{
    font-size: 14rem;
}

.dark .circle h1{
    color: #000;
}


@media (min-width:1550px) {
    .counter-main {
        margin-top: 3%;
    }
}


@media (max-width: 660px) {
    .circle{
        width: 500px;
        height: 500px;
    }

    .text span{
        transform-origin: 0 250px;
    }

    .counter-main {
        margin-top: 6%;
    }

    .circle h1{
        font-size: 10rem;
    }
}

@media (max-width: 560px) {
    .circle{
        width: 400px;
        height: 400px;
    }

    .text span{
        transform-origin: 0 200px;
    }

    .circle h1{
        font-size: 7rem;
    }
}


@media (max-width: 460px) {
    .circle{
        width: 380px;
        height: 380px;
    }

    .text span{
        transform-origin: 0 190px;
    }

    .circle h1{
        font-size: 5rem;
    }
}


.vista-pastores{
    margin: 7rem auto;
}


.contenedor_principal{
    margin-top: 7rem;
}


.contenedor_hero_admin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    margin: 0;
}

.hero_admin_contenedor1,
.hero_admin_contenedor2{
    display: flex;
    justify-content: center;
}

.hero_admin_contenedor1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero_admin_contenedor1 h1{
    font-size: 1.5rem;
    font-weight: 400;
}

.boton_admin{
    width: 15rem;
    height: 3rem;
    margin-top: 1.5rem;
    font-weight: 700;
    border-width: 0.2rem;
}


.hero_admin_contenedor2 img{
    position: absolute;
    top: 13rem;
    right: 10%;
    height: 25rem;
}


@media (max-width: 1250px) {
    .hero_admin_contenedor2 img{
        right: 0%;
    }
}

@media (max-width: 1080px) {
    .hero_admin_contenedor2 img{
        height: 20rem;
        top: 14rem;
        left: 50%;
    }
}

@media (max-width: 1000px) {
    .hero_admin_contenedor2 img{
        left: 48%;
    }
    .hero_admin_contenedor1 h1{
        margin-left: 1rem;
    }
}

@media (max-width: 956px) {
    .hero_admin_contenedor2 img{
        left: 38%;
    }

}


@media (max-width: 815px) {
    .hero_admin_contenedor2 img{
        height: 18rem;
        top: 16rem;
    }
}


@media (max-width: 770px) {
    .contenedor_hero_admin{
        flex-direction: column;
    }
    .hero_admin_contenedor2 img{
        position: relative;
        top: 0;
        left: 0;
    }
    .hero_admin_contenedor1 h1{
        margin-left: 0;
    }
}


.contenedor_informativo{
    height: 11rem;
    display: flex;
    justify-content: center;
    background-color: #6C63FF;
}

.dark .contenedor_informativo{
    background-color: #1a0efa4b;
}

.informativo_detalles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 15rem;
    color: #fff;
}

.detalles_titulo{
    width: 50%;
}

.detalles_parrafo{
    width: 50%;
}



.informativo_detalles h2{
    font-size: 2rem;
}

.informativo_detalles p{
    margin-top: 1rem;
    font-size: 1rem;
}

@media (max-width: 1550px) {
    .informativo_detalles{
        margin: 0 10rem;
    }
}

@media (max-width: 1150px) {
    .informativo_detalles{
        margin: 0 5%;
    }
}


@media (max-width: 800px) {
    .informativo_detalles{
        margin: 0 2%;
    }
}

@media (max-width: 770px) {
    .informativo_detalles{
        flex-direction: column;
    }
    .contenedor_informativo{
        height: 20rem;
        margin-bottom: 5rem;
    }
}

@media (max-width: 600px) {
    .contenedor_informativo{
        height: 25rem;
        margin-bottom: 5rem;
    }
}

.contenedor_navegacion{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navegacion_titulo{
    position: absolute;
    top: 55rem;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 1.5rem;
}

.articles article{
    max-width: 320px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;
}

.articles article h2{
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

.article-preview{
    padding: 2rem;
    background: white;
    transition: all .3s ease-in-out;
}

.dark .article-preview{
    background-color: #1a0efa4b;
}

.article-preview:hover{
    padding: 2rem;
    background: #6C63FF;
    color: #fff;
}


.dark .articles article h2{
    color: #fff;
}

.dark .articles article h2:hover{
    color: #fff;
}

.navegacion_titulo{
    margin-top: 1.5rem;
}

.navegacion_titulo h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: -2rem;
}

@media (max-width: 1025px) {
    .contenedor_navegacion{
        height: 30rem;
        margin: 4rem 0;
    }
}

@media (max-width: 770px) {
    .navegacion_titulo{
        position: relative;
        top: -6rem;
    }
}

@media (max-width: 681px) {
    .contenedor_navegacion{
        height: 40rem;
        margin: 5rem 0;
    }
    .navegacion_titulo{
        margin-top: 5rem;
    }
}

.calcular{
    font-size: 1.2rem;
    border: 5px solid #0D6EFD;
    font-weight: 800;
}

.calcular_red{
    font-size: 1.2rem;
    border: 5px solid #DC3545;
    font-weight: 800;
}

.dark .calcular_red{
    color: #fff;
}

@media (max-width: 1440px) {
    .admin{
        width: 88%;
    }
}


@media (max-width: 1180px) {
    .admin{
        width: 80%;
    }
}

@media (max-width: 992px) {
    .admin{
        width: 90%;
    }
}









