<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/resources/css/tailwind.min.css">
  <link rel="stylesheet" href="/resources/fontawesome-free-6.1.2-web/css/all.min.css">
  <link rel="stylesheet" href="/resources/css/scroll.css">
  <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body class="min-h-100">

  <div class="icono fixed-top vista">
    <p>Panel de Administración <i class="fa-regular fa-face-smile"></i></p>
  </div>

  <section class="navegacion fixed-top vista">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
          <img class="arimg" src="/resources/img/arministries.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="reportesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pastores
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/pastores/listadoPC">Pastores</a></li>
                    <li><a class="dropdown-item" href="/pastores_campus/listar">Pastores Encargados</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/dashboard">Salir</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="reportesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Campus
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/campus/listadoCampus">Campus</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/dashboard">Salir</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="reportesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ministros
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/ministros/listadoMinistros">Ministros</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/dashboard">Salir</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="reportesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Predicadores
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/predicadores/listarPredicadores">predicadores</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/dashboard">Salir</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="reportesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lideres V.
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/lideres/listadoLideresVoluntarios">Lideres Voluntarios</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/dashboard">Salir</a></li>
              </ul>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="reportesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Modalidad
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/modalidad/modalidad">Modalidad</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/dashboard">Salir</a></li>
                </ul>
            </li>
            </ul>
          <form class="d-flex" role="search">
            <a class="btn btn-outline-danger" href="/logout">Cerrar Sesión</a>
          </form>
        </div>
      </div>
    </nav>
  </section>

  <div class="dark-light-mode_button switch no-print fixed-top">
    <div class="button__shadow">
        <i class="fa fa-solid fa-moon luna"></i>
        <i class="fa fa-solid fa-sun oculto sol"></i>
    </div>
  </div>

  
  <main class="container vista-pastores admin">
      <div class="fondo"></div>
      <div class="fondo fondo2"></div>
      <div class="fondo fondo3"></div>

        <a href="/modalidad/nuevaModalidad" class="btn btn-outline-primary mt-4 fs-2"><i class="fa-solid fa-circle-plus bx-md"></i></a>

      <div class="flex flex-col mt-2">
        <div class="py-2 overflow-x-auto">
          <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full">
                <thead class="bg-gray-100 encabezado-listado">
                    <tr>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                              Modalidad
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                Acciones
                        </th>
                    </tr>
                </thead>
                <% results.forEach((modalidad) => {  %>
                <tbody id="listado-encuentros" class="cuerpo-listado">
                  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <p class="text-sm leading-5 font-medium text-lg font-bold campus"><%= modalidad.modalidad %></p>
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5">
                    <a href="/editModalidad/<%= modalidad.id_modalidad %>" class="btn btn-outline-warning font-black editar">Editar
                    </a>
                    <button class="btn btn-outline-danger font-black" onclick="confirmarEliminarCA('<%= modalidad.id_modalidad %>')">Eliminar</button>
                  </td>
                </tbody>
                <% }) %>
            </table>
          </div>
        </div>
      </div>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/resources/js/darkMode.js"></script>
  <script>
    function confirmarEliminarCA(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción eliminará al pastor. ¿Estás seguro de continuar?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/deleteModalidad/' + id;
            }
        });
    }
</script>
</body>
</html>
